Project: Conditional Probability Analysis
Course: Mathematics for Data Science
Author: Omer Zaman
Date: 12 April 2025

Goal:
- Generate Data (40,000 for age values)
- Purchasing Decision (Randomised)
- Check weighted purhcases by assigning a probability based on age and calculate it's Conditional Probability (learn this)
- Check weightless pruchases 
- Visualize the two via graph
- Analyze

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# For reproducibility when the professor or I are testing the code
np.random.seed(50)
ages = np.random.choice([20, 30, 40, 50, 60, 70], size=40000)
df = pd.DataFrame({'Age': ages})
df.head()

   Age
0   20
1   20
2   50
3   70
4   30

In [ ]:
# Assign Probability Weight for Bias (Might change)
age_weights = {20: 0.1, 30: 0.2, 40: 0.3, 50: 0.5, 60: 0.7, 70: 0.9}

# Assigning random Purchase where 1 = Purchase, 0 = No Purchase
df['Weighted_Purchase'] = df['Age'].map(age_weights).apply(lambda p: np.random.binomial(1, p))
df.head()

   Age  Weighted_Purchase
0   20                  0
1   20                  0
2   50                  0
3   70                  1
4   30                  0

In [ ]:
# Assigning same probability due to Unbiased
uniform_weights = {20: 0.2, 30: 0.2, 40: 0.2, 50: 0.2, 60: 0.2, 70: 0.2}

# Assigning random Purchase where 1 = Purchase, 0 = No Purchase
df['Uniform_Purchase'] = df['Age'].map(uniform_weights).apply(lambda p: np.random.binomial(1, p))